---
scripts: ['main.js']
styles: []
---

<div class="content">
    <h1>{% emoji app.emoji %}&nbsp;{{ app.title }}</h1>
    <p>{{ app.description }}</p>
    <form id="create-form">
        <div id="cards-container"></div>
        <button id="add-card">Add a card</button>
    </form>
</div>